<h2>Reset de Password</h2>
<form id="form-reset-password" method="PUT" action="reset">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" /><br />

    <label for="repeat-password">Repeat Password:</label>
    <input type="password" id="repeat-password" name="password" /><br />

    <input type="submit" value="Reset Password" />
</form>
<a href="/login">Inicia sesión</a>

{{!-- <script href="js/register.js"></script> --}}